h1 {
  font-family: "Audiowide", cursive;
  margin: 50px;
  text-align: center;
}
.ligne {
  display: block;
  margin: 20px auto;
  height: 2px;
  background: black;
  width: 50%;
  margin-top: 50px;
}
.form-group {
  text-align: center;

  width: 60%;
  margin: 20px;
}
label {
  margin: 10px;
  font-size: 20px;
}
