<div class="card">
  <h2 class="card-header">Gestion</h2>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <a routerLink="/admin/article/liste" style="color:black;">
        <span class="material-icons">
          library_music
        </span>
        Articles</a
      >
    </li>
    <li class="list-group-item">
      <a routerLink="/admin/user/liste-user" style="color:black;"
        ><i class="material-icons">account_circle</i> Users</a
      >
    </li>

    <li class="list-group-item">
      <a routerLink="/admin/param/liste-param" style="color:black;"
        ><span class="material-icons">
          settings </span
        >Paramètres
      </a>
    </li>
  </ul>
</div>
